:root{
    ---DesaturatedRed: hsl(0, 36%, 70%);
    ---SoftRed: hsl(0, 93%, 68%);

}
html{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;;
}
body{
    min-height: 812px;
}
header{
    width: 100%;
    height: 84px;
}
header img{
    margin-top: 32px;
    margin-left: 32px;
    width: 100px;
    height: 20px;
}
section img{
    width: 100%;
    height: 250px;
}
.text{
    margin-top: 65px;
}
.text h1{
    font-size: 30px;
    color: var(---DesaturatedRed);
    font-style: oblique 90deg;
    font-weight: 200;
    margin: 0 25%;
    width: 100%;
    letter-spacing: 15px;
    width: 163px;
    margin-bottom: 12px;
}
.text h2{
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 15px;
    color: #494041;
}
.coming{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text h3{
    width: 295px;
    height: 77px;
    margin-top: 30px;
    font-size: 14px;
    line-height: 15px;
    margin: 30px auto 40px auto;
    text-align: center;
    color: var(---DesaturatedRed);
    font-weight: 400;
}
.send-email{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    padding-bottom: 50px;
}
.send-email input{
    border-radius: 20px;
    width: 310px;
    padding-left: 25px;
    

}
.send-email input::placeholder
{
    color: var(---DesaturatedRed);
    font-weight: 400;
   
}
.send-email input:placeholder-shown{
    border: 1px solid var(---DesaturatedRed);
}
.send-email .btn{
    background: linear-gradient(135deg, hsl(0, 80%, 86%) , hsl(0, 74%, 74%));
    width: 65px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
    box-shadow: 0px 3px 20px 0px #CE9797;
}
.btn img{
    width: 15px;
    height: 20px;

}
footer{

    bottom: 0;
    width: 100%;
    -ms-flex-item-align: end;
    align-self: flex-end;
}