:root{
    --text-vddblue: hsl(238, 29%, 16%);
    --text-bdgblue:hsl(237, 12%, 33%);
    --text-dgblue:hsl(240, 6%, 50%);
    --text-red: hsl(14, 88%, 65%);
    --gradient-violet:hsl(273, 75%, 66%);
    --gradient-blue:hsl(240, 73%, 65%);
    --dovider-gblue:hsl(240, 5%, 91%);

}

html{
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/

}

*,*::after,*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family:  'Kumbh Sans', sans-serif;
    text-decoration: none;
    font-size: 1.8rem;
    background-image: radial-gradient(var(--gradient-violet),var(--gradient-blue));
}

.main{
    height: 100vh;
}

.card{
    background-color: white;
    border-radius: 2rem;
    max-width: 33rem;
    margin: 5rem auto 8rem auto;
    
}



.card_imagem img{
    width: 100%;
    height: auto;
    max-width: 24rem;

}

.card_faq{

}



@media (min-width: 56em){
    .card{
        display: flex;
        margin: 17rem auto;
        max-width: 100rem;
        background-size: 40%;
        background-image: url(images/bg-pattern-desktop.svg);
        background: cover;
        background-repeat: no-repeat;
        background-position: -10% center;
       
        
    }

    .card_imagem,
    .card_faq{
        flex: 1;
        padding-right: 11rem;
    }


    .card_imagem{
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .card_imagem img{
        width: 100%;
        height: auto;
        max-width: 50rem;
        transform: translateX(-5rem);
    
    }
}