html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 100vw;
    display: grid;
    background-color: #141519;
    grid-template-columns: 6vw 88vw 6vw;
    grid-template-rows: 22vh 55vh 22vh;


    margin: 0;
}
#card{
    background-color: #171E28;
    grid-column: 2/3;
    grid-row: 2/3;
    border-radius: 20px;
}

.star{
    background-color: #262f38;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

h1{
    font-size: 25px;
}
h2{
    font-size: 16px;
    font-weight: 300;
    color: rgb(189, 189, 189);
}

.text{
    color: #fff;
    width: 280px;
    height: 100px;
    margin: 0px 30px 35px 25px;
    line-height: 15px;
}

.notes{
    width: 280px;
    height: 50px;
    display: flex;
    margin: auto;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.note{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262F38;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}

.note:hover{
    background-color: #7C8898;
}

button{
    width: 280px;
    height: 50px;
    border: 0;
    color: white;
    background-color: #F97614;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

button:hover{
    background-color: #fff;
    color: #F97614;
}

.select {
    background-color: #F97614 !important; 
}

a{
    text-decoration: none;
}