body{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif ;
    background-color: hsl(217, 54%, 11%);
}
:root{
    font-size: 18px;
}


section{
    height: 100vh;
}

.card{
    height: 65vh;
    background-color:  hsl(216, 50%, 16%);
    width: 65vw;
    margin: 15% auto;
   text-align: left;
   padding: 30px;
   border-radius: 20px;
   
}

.imagem{
    display: flex;
    justify-content: center;
    height: 35vh;
    border-radius: 10px;
    overflow:hidden ;
}

.imagem img{
    height: 100%;
}

.texto h2{
    color: white;
    font-size: 1.2rem;
    margin-top: 30px;
    font-weight: 600;
}

.texto h4{
    color: white;
    font-size: 0.8rem;
    font-weight: 300;
}

.status{
    display: flex;
    justify-content: space-between;
}

.eth{
    display: flex;
}
.eth h3{
    margin: 0 0 0 10px;
    font-size: 0.8rem;
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

.eth img{
    height: 20px;
    width: 12px;
}
.time{
    display: flex;
}
.time img{
    height: 25px;
}
.time h4{
    margin: 4px 0 0 10px;
    color: white;
    font-weight: 300;
    font-size: 0.8rem;
}
.perfil{
    display: flex;
    margin-top: 20%;
}

.perfil img{
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
}

.perfil h4{
    font-size: 0.7rem;
    margin: 10px 0 0 15px;
    color: white;
    font-weight: 300;
}